<nav>
    <div class="logo">MEME MAKER</div>
    <div class="searchBar">
        <input type="text" placeholder="Search">
        <button>Go</button>
    </div>
    <ul class="navlinks">
        <li><a href="/templates">TEMPLATES</a></li>
        <li><a href="/custom">CUSTOM</a></li>
    </ul>
</nav>