<div class="textareasinputcontainer">
    <input type="text" class="textareainput" id="inputchild1">
    <input type="text" class="textareainput" id="inputchild2">
    <button id="btn-Preview-Image">download</button>
</div>
